root = true

[*]
charset = utf-8
end_of_line = LF
indent_size = 4
tab_width = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.{css,html}]
indent_size = 2
max_line_length = 120
tab_width = 2

[Makefile]
indent_style = tab

[*.py]
max_line_length = 79

[*.rb]
indent_size = 2
insert_final_newline = true
max_line_length = 120
tab_width = 2

[*.{md,txt}]
indent_size = 2
max_line_length = off
tab_width = 2

[*.vim]
max_line_length = 120

[*.{yml,xml}]
indent_size = 2
tab_width = 2
